/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Condensed:wght@400;700&display=swap');

:root {
    --viewport-width: 100vw; /* Full width of viewport */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	overflow-y: scroll;
	margin: 0;
	line-height: 1.4;
	color: #333;
}

/* MARK: Menu */
/* SECTION GENERIK SCROLL FIX */
section {
	scroll-margin-top: 73px;
}
#contact-form {
	scroll-margin-top: 73px;
}
nav {
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: white;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}
nav ul {
	width: 100%;
	height: 73px;
	/* min-width: 960px; */
	margin: 0 auto;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
nav li {
  height: 50px;
}
nav img {
	height: auto;
	display: block;
	min-width: 180px;
	width: 100%;
}
nav a {
	height: 100%;
	padding: 0 30px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size: 22px;
	font-style: normal;
	display: inline-block;
	display: flex;
	align-items: center;
	color: rgb(4, 81, 132);
}
nav a:hover {
  color: rgb(31, 111, 171);
}
.sidebar {
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 200px;
	padding: 10px 0;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.close-btn {
  justify-content: flex-end;
}
.menu-button {
  display: none;
}
.menu-button a {
  padding-left: 0;
}
@media(max-width: 56rem){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
	nav ul {
		justify-content:space-between;
	}
	nav a {
		padding: 0 20px 0 20px;
	}
}
@media(max-width: 12.5rem){
  .sidebar{
    width: 100%;
  }
	/* nav img {
		display: none;
	} */
}

/* MARK: Hero */
.hero {
	position: relative;
	height: 520px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}
.hero-main {
	width: clamp(18.75rem, 40rem, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
	border: 3px solid black;
	background-color: rgba(255, 255, 255, 0.6);
	line-height: 1.6;
}
.hero h1 {
	margin: 22px 0px 17px 0;
	font-family: 'Impact', sans-serif;
	font-size: clamp(2rem, 10vw, 3.75rem);
	font-weight: 400;
	color: black;
}
.hero p {
	margin: 0px 0px 42px 0;
	font-size: clamp(1rem, 5vw, 1.8rem);
}
.hero a {
	text-decoration: none;
	color: black;
}
.hero-btn {
	display: block;
	width: clamp(12.5rem, 65%, 18.75rem);
	margin-bottom: 47px;
	padding: 0.5rem 1rem;
	background-color: rgb(27, 34, 47);
	color: white !important;
	font-size: 20px;
}
.hero-btn:hover{
	background-color: rgb(127, 92, 71);
}
.hero video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;	
}

/* MARK: Sect Title */
.section-title {
	text-align: center;
	margin: 0 0 30px 0;
	color: #fff;
	position: relative; /* Position relative for absolute positioning of SVGs */
}
.brown {
	color: rgb(127, 92, 71);
}
.dark {
	color: rgb(27, 34, 47) !important;
}
.mb-20 {
	margin-bottom: 20px;
}
.section-title h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 3rem;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.decorative-line {
	display: block; /* Change to block */
	flex-basis: 6px; /* Base size for flex */
	flex-shrink: 0; /* Prevent shrinking */
	height: 6px; /* Height for the line */
	margin: 0 auto; /* Center horizontally */
	width: 210px; /* Width of the line */
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 6px, rgb(142, 141, 145) 6px),
										linear-gradient(-135deg, rgba(0, 0, 0, 0) 6px, rgb(142, 141, 145) 6px);
	background-size: 6px 6px, 6px 6px; /* Background size for the lines */
	background-repeat: repeat-x; /* Repeat horizontally */
}
.top-line {
	transform: scaleY(-1); /* Flip the pattern vertically */
}
.brown-line {
	background-image: linear-gradient(135deg, rgba(0, 0, 0, 0) 6px, rgb(127, 92, 71) 6px),
										linear-gradient(-135deg, rgba(0, 0, 0, 0) 6px, rgb(127, 92, 71) 6px);
}
.simple-line {
	width: 210px; /* Same width as the decorative-line */
	height: 2px; /* Thickness of the line */
	background-color: rgb(142, 141, 145); /* Color to match the decorative-line */
	margin: 0 auto; /* Spacing around the line, adjust as needed */
}
.brown-bg {
	background-color: rgb(127, 92, 71);
}
.short-line {
	width: 168px;
}

/* MARK: Services */
.services {
	background-color: rgb(27, 34, 47);
	color: white;
	padding: 30px 20px;
}
.services-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	gap: 1rem;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.service-item {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 500px;
	overflow: hidden; /* Prevents any overflow */
}
.service-item img {
	width: 100%;
	height: auto; /* Keeps the aspect ratio */
	display: block; /* Removes any inline-block whitespace */
	object-fit: cover; /* Ensures image covers the whole area without stretching */
}
.service-item h3 {
	margin: 1rem;
	color: rgb(127, 92, 71);
	text-align: center;
	
}
.service-item p {
	margin: 1rem;
	margin-top: 0;
	color: rgb(47, 47, 48);
	text-align: left;
}

/* MARK: About */
#about {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: white;
	width: 100%;
}

.about-wrapper {
	flex: 1 1 320px; /* allows the item to grow and shrink */
	min-width: 320px;
}

.about {
	margin-left: auto;
	max-width: 500px;
	min-width: 320px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px 30px;
}
@media (max-width: 660px) {
	.about {
		margin: 0 auto;
	}
}

.about img {
	height: auto; /* maintains the aspect ratio */
	max-width: 100%; /* makes the image responsive without exceeding its container */
}

/* MARK: Form */
.form-wrapper {
	flex: 1 1 320px; /* allows the item to grow and shrink */
	min-width: 320px;
	background: url('public/images/background/hon_bg_909x1340.webp') no-repeat center center;
	background-size: cover;

}

.form {
	flex: 1 1 320px; /* allows the item to grow and shrink */
	margin-right: auto;
	max-width: 500px;
	min-width: 260px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 30px 30px;
}
@media (max-width: 660px) {
	.form {
		margin: 0 auto;
	}
}

.form input, .form textarea {
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 30px;
	border: 2px solid rgb(127, 92, 71);
	border-radius: 0;
}
.form textarea {
	min-height: 100px;
	resize: vertical;
}
.form input:focus, .form textarea:focus {
	outline: none; /* Remove the default browser outline */
	border: 1px solid rgb(127, 92, 71);
	margin-bottom: 32px;
	/* box-shadow: 0 0 0 3px #007bff; */
}
.form textarea:focus {
	margin-bottom: 30px;
}

.form .checkbox {
	align-self: flex-start;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
  }
  
.form .checkbox input {
	width: 24px;
	height: 24px;
	margin: auto 15px auto 0;
	border: 2px solid rgb(127, 92, 71);
	-webkit-appearance: none; /* Remove default styling for WebKit browsers (Chrome, Safari) */
	-moz-appearance: none;    /* Remove default styling for Firefox */
	appearance: none;         /* Remove default styling for modern browsers */
	outline: none;            /* Remove default outline */
	cursor: pointer;          /* Add pointer cursor for better UX */
	background-color: white; /* Background for unchecked state */
	position: relative;
}
/* .form .checkbox input:hover {
	cursor: pointer;
} */
.form .checkbox input:checked {
	/* background-color: rgb(127, 92, 71); */
	border-color: rgb(127, 92, 71);
}
.form .checkbox input:checked::after {
    content: '✔'; /* Checkmark */
    color: black; /* Checkmark color */
    font-size: 20px;
    position: absolute;
    top: -2px; /* Adjust checkmark positioning */
    left: 4px; /* Adjust checkmark positioning */
}

.form .checkbox label {
	font-size: 14px;
	color: black;
}

.form input[type="file"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 30px;
    border: 2px solid rgb(127, 92, 71);
    border-radius: 0; /* Keep it consistent with other inputs */
    display: none; /* Hide the default file input */
}

.file-label {
    display: inline-block;
    width: 100%;
    padding: 0.75rem;
    border: 2px solid rgb(127, 92, 71);
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center; /* Center the text */
    color: rgb(127, 92, 71);
    cursor: pointer; /* Pointer cursor for better UX */
    margin-bottom: 30px; /* Spacing below the label */
}

.file-label:hover {
    background-color: rgba(127, 92, 71, 0.1); /* Lighten on hover */
}

.file-list {
    list-style: none; /* Remove bullet points */
}

.file-list li {
    margin-bottom: 10px; /* Spacing between items */
    display: flex; /* Align items in a row */
	justify-content: space-between; /* Space between file name and delete button */
	align-items: center; /* Center items vertically */
}
.file-list li:last-child {
	margin-bottom: 30px;
}

.file-list li span {
	padding: 0.5rem; /* Add padding to each list item */
    border: 1px solid rgb(127, 92, 71); /* Custom border for list items */
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
}

.file-list li button {
	margin: auto 0 auto 15px;
    background: none; /* No background */
    border: none; /* No border */
    color: rgb(127, 92, 71); /* Same color as file list border */
    cursor: pointer; /* Pointer cursor */
    font-size: 14px; /* Adjust font size */
}
.file-list li button:hover {
	fill: #8B0000;
}

.form button[type="submit"] {
	display: inline-block;
	max-width: 300px;
	margin-bottom: 47px;
	padding: 0.5rem 1rem;
	background-color: rgb(27, 34, 47);
	color: white !important;
	font-size: 20px;
	border: none;
}
.form button[type="submit"]:hover{
	background-color: rgb(127, 92, 71);
	cursor: pointer;
}

/* MARK: Gallery */
.portfolio {
	background-color: rgb(27, 34, 47);
	color: white;
	padding: 30px 20px;
}

.gallery {
	/* display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	grid-gap: 1rem; */
	
	columns: 5 250px;
	gap: 1rem;
}

.gallery-item {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 0.6rem;
	width: 100%;
	/* grid-row: span 3; */
}

.gallery-item img {
	width: 100%;
	height: auto;
	cursor: pointer;
	transition: transform 0.5s ease;
	display: block;

}

.gallery-item img:hover {
	transform: scale(1.1); /* легкое увеличение при наведении */
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.overlay.hidden {
	display: none;
}

#overlay img {
	max-width: 90%;
	max-height: 90%;
}

#close-overlay {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 40px;
	color: white;
	cursor: pointer;
	z-index: 1001;
}

/* MARK: Contacts */
.contacts {
	background-color: white;
	color: black;
	padding: 30px 1rem;
	text-align: center;
}

.contacts iframe {
	width: 100%;
	height: 300px;
	border: none;
	margin-top: 1rem;
}

footer {
	background-color: rgb(27, 34, 47);
	color: white;
	text-align: center;
	padding: 1rem;
}
